* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/* bg color escura: #218F9B ;
bg color azul claro: #BAF3DB
bg color azul mais claro: #C5EAEE */

body {
  background-color: #92d2d9;
}
ul {
  list-style: none;
}
.fraseCima {
  color: #fff;
  font-family: "Itim", sans-serif;
  background-color: #218f9b;
  height: 38px;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  opacity: 0.6;
}
a {
  text-decoration: none;
}
.login {
  display: flex;
  color: #000;
  font-family: "Itim", sans-serif;
  font-weight: 500;
  font-size: 120%;
  width: 144px;
  height: 84px;
  border-radius: 20px;
  background-color: #c5eaee;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.direita-nav {
  margin-left: 10px;
  margin-top: 15px;
  display: flex;
  gap: 20px;
  width: 20%;
}
.fa-solid.fa-right-to-bracket {
  font-size: 170%;
}
.perfil-sair a {
  color: #000;
}
.perfil-sair a i {
  padding-right: 10px;
}
.perfil-sair {
  font-family: "Itim", sans-serif;
  font-weight: 500;
  font-size: 20px;
  gap: 10px;
  width: 144px;
  height: 84px;
  display: flex;
  flex-direction: column;
  background-color: #c5eaee;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.perfil-sair span {
  width: 144px;
  display: block;
  height: 1px;
  background-color: black;
}
.barraResponsiva {
  display: flex;
  width: 15%;
  align-items: center;
  justify-content: center;
  /* background-color: tomato; */
}
.barra a .fab {
  font-size: 20px;
  color: black;
}
.barraP {
  background-color: #baf3db;
  border-radius: 100px;
  width: 100%;
  height: 46px;
}
.barra {
  display: flex;
  width: 100%;
  height: 46px;
  border-radius: 100px;
  background: #baf3db;
  align-items: center;
}
.barra input {
  text-align: center;
  border-style: dashed;
  outline: none;
}
.fas.fa-cart-shopping {
  font-size: 30px;
  color: black;
}
.itens-menu {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 90%;
  line-height: 24px;
  margin-top: 67px;
}
.itens-menu li {
  width: 12%;
  height: 25px;
  background-color: #baf3db;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.itens-menu a {
  color: black;
  width: 243px;
  height: 25px;
  text-align: center;
  font-size: 100%;
}
.slider.active {
  display: block;
}
.slider {
  display: none;
  user-select: none;
}
.container-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 15px;
}
.container-slider img {
  width: 100%;
}
.container-slider i {
  font-size: 200%;
}
.bolinhas {
  display: flex;
  justify-content: center;
  font-size: 300%;
  height: 30px;
  gap: 15px;
  margin-top: 10px;
}
.pontos {
  background-color: gray;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.pontos.active {
  background-color: #218f9b;
}
.next {
  font-size: 40px;
  user-select: none;
}
.next:hover {
  cursor: pointer;
}
.nav-animais a .img-animal {
  font-size: 200%;
  color: black;
  background-color: #218f9b;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  /* display: flex; */
  flex-direction: row-reverse;
  text-align: center;
  padding-top: 17px;
}
.nav-animais {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  width: 100%;
  margin: auto;
}
.glass {
  width: 13%;
  height: 13%;
  backdrop-filter: blur(10px);
  border-radius: 30px;
  background: linear-gradient(210deg, #baf3db, #218f9b);
  box-shadow: 0 10px 26px rgba(0, 0, 0, 0.7);
}
.glass a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
}
.glass a img {
  width: 70%;
}
.pl {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box .glass.coleira {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.glass.coleira a i {
  transform: translate();
  z-index: 2;
}
.coleira a img {
  width: 80%;
}
.produtosPromocao {
  font-family: "Itim", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
.promocao {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
}
.fraseOfertas {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
  margin-top: 100px;
}
.fraseOfertas i {
  font-size: 30px;
}
.produtosFrase {
  font-family: "Itim", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  display: flex;
  justify-content: center;
  margin-top: 94px;
}
.primeira-linha-produtos {
  margin-top: 100px;
}
.segunda-linha-produtos {
  margin-top: 100px;
}
.box.primeira-linha-produtos .glass {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box.segunda-linha-produtos .glass {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-solid.fa-circle-plus {
  font-size: 70px;
  color: black;
}
.glass.mais-itens {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background-color: #218f9b;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
}
.esquerda-nav {
  display: flex;
}
.iconeSite {
  width: 120px;
  height: 120px;
}
.esquerda-nav a i {
  margin-top: 50px;
}
.rodape {
  background-color: #218f9b;
  width: 100%;
  height: 176px;
  margin-top: 150px;
  text-align: center;
}
.rodape p {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;
  padding-top: 88px;
  margin-left: 15px;
}
.rodape a i {
  color: black;
  font-size: 250%;
  margin-top: 15px;
}
.menuH{
  opacity: 0;
  display: none;
}
.bonecoUser{
  opacity: 0;
}
.carrinho{
  opacity: 0;
}
@media screen and (max-width: 740px) {
  .direita-nav {
    display: none;
  }
  .barraResponsiva {
    width: 80%;
    margin: auto;
  }
  .barra {
    width: 193px;
    height: 25px;
  }
  .barraP {
    width: 193px;
    height: 25px;
  }
  .esquerda-nav {
    display: none;
  }
  .fraseCima {
    display: none;
  }
  .iconePesquisa{
    display: none;
  }
  .itens-menu li{
    width: 20%;
  }
  .itens-menu li a{
    font-size: 13px;
  }
  .next{
    font-size: 100%;
    padding-left: 10px;
  }
  .nav-animais a{
    border-radius: 50px;
  }
  .img-animal{
    font-size: 5px;
  }
  .box .glass{
    width: 23%;
    height: 120px;
  }
  .primeira-linha-produtos {
    margin-top: 50px;
  }
  .segunda-linha-produtos {
    margin-top: 100px;
  }
  .produtosPromocao{
    margin-top: -40px;
  }
  .barraResponsiva{
    width: 35%;
  }
  .menuH{
    opacity: 1;
    margin-bottom: 10px;
    margin-left: 20px;
    transition: 700ms;
  }
  .itens-menu{
    margin-left: -100%;
    transition: 2500ms;
    opacity: 0;
    transform: scale(0.0);
  }
  .itens-menu.active{
    margin-left: 0%;
    transform: scale(1.0);
    opacity: 1;
  }
  /* .itens-menu.active li {
    transform: rotate(360deg);
    transform: scale(1.0);
  } */

  .menuResponsivo{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
  }
  .carrinho{
    font-size: 17px;
    margin-right: 15px;
    opacity: 1;
  }
  .bonecoUser{
    margin-right: 5px;
    opacity: 1;
  }
}